extends ../layouts/common.pug
block content
  h1 Danh sách sản phẩm
  ul(class='product-list') 
    div(class='row')
      each product in products   
        div(class='col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12')
          li(class='product-item card')
            div(class='product-item-image')
              img(src=product.poster[0].url alt= product.name)
            div(class='product-item-content p-3')
              a(href='/products/' + product.name)= product.name
              span(class='product-item-price')= product.price + ' VNĐ'
              br
              a(href='/cart/add/' + product.name)
                button(class='btn btn-primary mt-2') Thêm vào giỏ hàng
  p= error
  .d-flex.justify-content-center 
    nav(aria-label='Page navigation example')
      ul.pagination

        if prevPage >= 1
          li.page-item
            a.page-link(href='/products/?page=' + prevPage + '&keyword=' + q, aria-label='Previous')
              span(aria-hidden='true') &laquo;
          li.page-item
            a.page-link(href='/products/?page='+ prevPage + '&keyword=' + q)= prevPage

        li.page-item.active
          a.page-link(href='/products/?page='+ page + '&keyword=' + q)= page

        if page<length
          li.page-item
            a.page-link(href='/products/?page='+ nextPage + '&keyword=' + q)= nextPage
          li.page-item
            a.page-link(href='/products/?page=' + nextPage + '&keyword=' + q , aria-label='Next')
              span(aria-hidden='true') &raquo;



