extends ../layouts/common.pug

block content 
  h1 Register 
  form(action='/register', method="POST", enctype="multipart/form-data")
    .form-group.mt-4    
      label(for='name') Tên đăng nhập 
      input(id='name' class='form-control' value=name name='name' placeholder='Tên đăng nhập...' type='text')
      span(class='error-message')= errors ? errors.name : ''
    .form-group.mt-4 
      label(for='email') Email
      input(id='email' class='form-control' value=email name='email' placeholder='Email của bạn...' type='email')
      span(class='error-message')= errors ? errors.email : ''
      .form-group.mt-4 
      label(for='phone') Phone
      input(id='phone' class='form-control' value=phone name='phone' placeholder='Số điệnn thoại của bạn...' type='number')
      span(class='error-message')= errors ? errors.phone : ''
    .form-group.mt-4 
      label(for='password') Mật khẩu 
      input(id='password' class='form-control' value=password name='password' placeholder='Mật khẩu của bạn...' type='password')
      span(class='error-message')= errors ? errors.password : ''
    .form-group.mt-4 
      label(for='confirm-password') Nhập lại mật khẩu 
      input(id='confirm-password' class='form-control' value=confirmPassword name='confirmPassword' placeholder='Nhập lại mật khẩu của bạn...' type='password')
      span(class='error-message')= errors ? errors.confirmPassword : ''
    .form-group.mt-4
      label(for='avatar') Ảnh đại diện
      input(id='avatar' class='form-control' value=avatar name='avatar' type='file')

    button(class='btn btn-primary mt-4') Đăng ký 